img{
    height: 300px;
    width: 380px;
}
.card{
    border: 1px solid grey;
    margin: 10px;
    padding: 20px;
}
.center{
    text-align: center;
}
.btn{
background-color: tomato;
color: white;
padding: 10px;
font-size: 29px;
width: 140px;
border-radius: 20px;
border: none;
}